body {
    font: 28px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    font-weight: bold;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square_focus {
    background: #AAFFdd;
    border: 2px solid #DD1111;
    float: left;
    font-size: 56px;
    font-weight: bold;
    line-height: 80px;
    width: 80px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 56px;
    font-weight: bold;
    line-height: 80px;
    width: 80px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .game-info {
    margin-left: 20px;
    flex-direction: row;
  }

  .game-history {
    width: fit-content;
    flex-direction: row;
  }